- var book = ['one', 'two', 'one', 'three', 'two', 'five', 'one', 'two']
extends layouts/layout

block styles
	link(rel='stylesheet', href='css/style.css')	

block content


block scripts
	script(src="javascript/vendor/jquery-1.8.1.min.js")
	script(src="javascript/vendor/quo.debug.js")
	script(src="javascript/vendor/phaser.js")
	script(src="javascript/RoadManager.js")
	script(src="javascript/CarManager.js")
	script(src="javascript/application.js")
